[Unit]
Description=Console EMC test

[Service]
Type=simple
ExecStart=/opt/navq95-emc/tests/console.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
