[Unit]
Description=EMC test monitor

[Service]
Type=simple
ExecStart=/opt/navq95-emc/tests/monitor.sh
ExecStop=/opt/navq95-emc/tests/monitor.sh off
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
