[Unit]
Description=WIFI EMC test
Before=emc-test-sdcard.service
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/opt/navq95-emc/tests/wifi.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
