[Unit]
Description=USB1 EMC test

[Service]
Type=simple
ExecStart=/opt/navq95-emc/tests/block_device.sh sda1
ExecStop=/usr/bin/kill -TERM $MAINPID ; sleep 10 ; umount /dev/sda1
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
