[Unit]
Description=NVMe EMC test

[Service]
Type=simple
ExecStart=/opt/navq95-emc/tests/block_device.sh nvme0n1p1
ExecStop=/usr/bin/kill -TERM $MAINPID ; sleep 10 ; umount /dev/nvme0n1p1
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
